@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* GENERAL RESET */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family: norse;
    src: url("../fonts/Norse-Bold.otf");
}


body
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", serif;
    position: relative;
}


body > .image
{
    width: 35%;
    height: 100%;
    position: relative;
}

.image > img
{
    width: 100%;
    height: 100%;
}

.image > .odin
{
    position: absolute;
    top: 130px;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.odin > img
{
    height: 100%;
}

.odin > h1
{
    color: white;
    font-size: 62px;
    font-family: norse;
}

.image > #credit
{
    position: absolute;
    bottom: 0;
    right: 30%;
    color: white;
    padding: 10px;
}

body > .form-container
{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;
    background-color: #F9FAFB;
}

.form-container > .form-container__text,
.form-container > .form-container__subtext,
.form-container > form > .form-footer
{
    padding-left: 32px;
}


.form-container > .form-container__text > p,
.form-container > .form-container__subtext > p
{
    max-width: 50ch;
    font-weight: 900;
    font-family: var(--text-font);
    font-size: 1.3rem;
}

.form-container > form
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.form-container > form > .fields
{
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px -5px 4px 2px lightgray, 0px 5px 4px 2px lightgray;
    background-color: #FFFFFF;
    position: relative;
}

.fields > .row
{
    display: flex;
    gap: 60px;
    position: relative;
}

.row > .field
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row > .field > label
{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: rgb(64, 71, 75);
}

.row > .field > input
{
    width: 220px;
    height: 30px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 0px 5px 0px transparent;
    outline: none;
    border-radius: .25rem;
    transition: all ease-in 500ms;
}

.row > .field > input:focus
{
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 0px lightblue;

}

.form-footer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-footer > .form-footer__button
{
    width: 200px;
    height: 40px;
}

.form-footer > .form-footer__button > button
{
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-weight: 800;
    background-color: #596D48;
    box-shadow: 0px 0px 2px 2px lightgray;
    border: none;
    border-radius: .45rem;
    cursor: pointer;
}

.form-footer > p,
.form-footer > p > a
{   
    margin-top: 12px;
    font-weight: 800;
}

/* .image,
body > .form-container
{
    display: none;
} */

.modal
{
    position: absolute;
    background-color: #e0e0e0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px;
    border-radius: .85rem;
    width: 400px;
    height: 200px;
    box-shadow: 0px 0px 2px 2px lightgray;
    z-index: 200;
}

.modal > .check__image
{
    width: 60px;
    height: 60px;
}

.modal > h4{
    text-align: center;
}

.check__image > img
{
    width: 100%;
    height: 100%;
}

/* FORM VALIDATION PSEUDO STYLING */

input[type="password"]:invalid
{
    border: 2px solid red;    
}

input[type="password"]:valid
{
    border: 2px solid green;    
}


span#errorMessage
{
    display: none;
    color: red;
    position: absolute;
    bottom: -25px;
    left: 5px;
    width: 100%;
}

span#errorMessage::before
{
    content: "â—";

}




/* MEDIA QUERIES */

@media (max-width:880px)
{
    .row > .field > input
    {
        width: 100%;

    }

    .form-container > form > .fields
    {
        padding: 32px 10px 32px 32px;
    }
}

@media (max-width:730px)
{
    .image
    {
        display: none;
    }

 
    body > .form-container
    {
        width: 100%;
        background: url("../images/halie-west-25xggax4bSA-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 100;
    }

    .form-container::after
    {
        content: "";
        background-color: rgba(0, 0, 0, 0.733);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .form-container > .form-container__text,
    .form-container > .form-container__subtext,
    .form-container > form > .form-footer
    {
        color: #FFFFFF;
        padding: 0px 32px 0px 32px;
    }

}

@media (max-width:470px)
{
    
    body > .form-container
    {
        height: 100vh;
        justify-content: center;
    }

    .form-container > .form-container__subtext
    {
        margin: 0 auto;
    }
    .form-container > .form-container__text > p,
    .form-container > .form-container__subtext > p
    {
        font-size: 1.1rem;
        text-align: center;
    }



    body > .form-container > form
    {
        justify-content: center;
    }

    .form-container > form > .fields 
    {
        justify-content: center;
        align-items: center;
        padding: 32px 10px 32px 10px;
        
    }

    .form-container > form > .fields > .row
    {
        gap: 15px;
    }

    .form-container > form > .form-footer
    {
        align-items: center;
    }

    .modal{
        width: 90%;
    }
}